.add-button {
    background-color: #FCAE1E;
  color: black;
  margin-top: 10px;
  margin-bottom: 30px;
}

.add-button:hover {
    background-color: rgb(228, 141, 19);
}

.edit-button {
    margin-bottom: 2px; 
    margin-right: 2px;
     background-color: #334a9a;
}

.delete-button {
    background-color: firebrick;
}

.delete-button:hover {
    background-color: indianred;
}