.App {
  text-align: center;
}

* {
  font-family: 'Outfit', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Raleway', sans-serif;
}

/* .wallpaper:not() {
  background-color: rgb(187, 222, 184);

} */

